<% provide(:title, 'Your Account & Reviews'.html_safe) %>
<h1>
  <strong><%= @user.name %></strong>
  <span class="pull-right small">Member since <strong><%= @user.created_at.to_formatted_s(:day_month_year) %></strong></span>
</h1>

<% if @user.reviews.size == 0 %>
    <h2>
      <% if @is_current_user %>
          <small>You haven't written any reviews yet, why
            not <%= link_to 'add a review now.'.html_safe, new_review_path %> </small>
      <% else %>
          <small>This user has not written any reviews yet.</small>
      <% end %>
    </h2>
<% else %>
    <h2>Reviews</h2>
    <%= render partial: 'reviews/reviews_preview', locals: {reviews: @user.reviews} %>
<% end %>