<div class="jumbotron">
  <h1>Find Rental Reviews</h1>

  <p>See what others have been saying about rental properties.</p>
  <%= form_tag({controller: 'reviews', action: 'new'}, method: 'post', class: 'form-inline') do %>
      <div class="row">
        <div class="col-xs-10">
          <label class="sr-only" for="address-search">Search by street name</label>
          <%= text_field_tag :search, params[:search], {:id => 'address-search', :class => 'form-control input-xl', :placeholder => 'Search by street name', :autofocus => true, :onFocus => 'geolocate()'} %>
        </div>
        <div class="col-xs-2">
          <%= button_tag "Search", :name => nil, :class => 'btn btn-primary btn-xl' %>
        </div>
      </div>
  <% end %>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Tenants</h2>

      <p>Share your experiences and write a review for somewhere you've lived.</p>

      <%= link_to 'Add A Review &raquo;'.html_safe, new_review_path, :class => 'btn btn-primary' %>

      <p></p>
    </div>

  </div>
</div>