<div class="container">
  <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
          <%= content_tag :div, msg, :class => flash_class(name) if msg.length > 0 %>
      <% end %>
  <% end %>
</div>
